<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpu.test.dao.AdminDao">
    <!-- insert 添加操作 id="值 dao接口中的方法名“  -->
    <insert id="add" parameterType="adminInfo">
insert into tab_admin(conAccount,conName,conPass) values (#{conAccount},#{conName},#{conPass})
    </insert>

   <!-- <select id="login"  resultType="adminInfo">
SELECT * FROM tab_admin WHERE conAccount=#{conAccount} AND conPass=#{comPass}
    </select>-->
    <!--<insert id="selectPolicy" parameterType="policyInfo">
select * from tab_policy_information where policyNum=#{policyNum}
    </insert>-->
</mapper>